.player{
    height: 20vh;    
    display: flex;
    flex-direction: column;  
    align-items: center; 
    justify-content: space-between;        
}

.time-control{
    width: 50%;    
    display: flex;
    justify-content: center;
    align-items: center;
    
    p{
        padding: 1rem;
        @include theme-aware('color', 'color-song-btn-color');
    }
    
    input{
        width: 100%;
        -webkit-appearance: none;
        background-color: transparent;
        cursor: pointer;
    }    
    
    svg {
        cursor: pointer;
    }
    
}

.icon{
    @include theme-aware('color', 'color-icon');
    transition: all ease 0.2s;
    &:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
}

.play-control{    
    display: flex; 
    align-items: center;  
    justify-content: space-around; 
    min-width: 50%;
}

input[type='range']{
    outline: none;
} 

input[type='range']::-moz-range-thumb{
    visibility: hidden;
} 

input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    background-color: black;
}    

.track-time{
    width: 100%;
    height: 0.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

.animation-time{
    background: chocolate;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform:translateX(0%);
}