*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './color-palette';
@import './mixins';
@import './library';
@import './switcher';
@import './player';
@import './song';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    transition: all ease 0.2s;
    font-family: 'Poppins', sans-serif;  
    @include theme-aware('background-color', 'color-song-background');
}

